{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container d-flex justify-content-center my-4">
        <h2>Active Listings</h2>
    </div>

    <div class="container d-flex justify-content-center my-4" >
    {% for listing in listings %}
        <div class="card" style="width: 18rem;">
            <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}