{% extends "auctions/layout.html" %}

{% block body %}

    <div class="row mx-3">
        {% if user.is_authenticated %}
            {% if isListingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add to Watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <h2>{{ listing.title }}</h2>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="400px">
    <p>{{ listing.description }}</p>
    <p>Seller: {{ listing.creator }}</p>
    <p>Starting bid: RM{{ listing.starting_price }}</p>

    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="newComment" placeholder="Add New Comment">
                <button type="submit" class="btn btn-warning">Post comment</button>
            </div>
        </form>
    {% endif %}
    <ul class="list-group">
        {% for comment in allComments %}
            <div class="card mt-3">
                <div class="card-header">
                    <div class="comment-info text-muted">
                        <strong class="">
                            {{ comment.author }}  
                        </strong>
                        <span>TODO: Time Posted</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ comment.comment }}</p>
            </div>
        {% endfor %}
    </ul>
    
{% endblock %}