{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if message %}
            {% if update %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div> 
            {% else %}
                {% if listing.isActive %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    {% if not listing.isActive and user == listing.starting_price.user %}
        <div class="alert alert-success">
            Congratulations! You won the auction.
        </div>
    {% endif %}

    {% if not listing.isActive %}
        <div class="alert alert-warning" role="alert">
            This auction has ended.
        </div>
    {% endif %}

    <div class="row mx-3">
        {% if user.is_authenticated and listing.isActive %}
            {% if isSeller %}
                <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="mx-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Close Auction</button>
                </form>
            {% endif %}
            {% if isListingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add to Watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <h2>{{ listing.title }}</h2>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="400px">
    <p>{{ listing.description }}</p>
    <p>Seller: {{ listing.creator }}</p>
    <p>Current bid: RM{{ listing.starting_price.bid }}</p>

    {% if user.is_authenticated and listing.isActive %}
        <form action="{% url 'addBid' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="price">Add Bid</label>
                <input type="number" min="0" name="newBid" placeholder="Add New Bid">
                <button type="Submit" class="btn btn-primary">Place Bid</button>
            </div>
        </form>
    {% endif %}

    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="newComment" placeholder="Add New Comment">
                <button type="submit" class="btn btn-warning">Post comment</button>
            </div>
        </form>
    {% endif %}

    <ul class="list-group">
        {% for comment in allComments %}
            <div class="card mt-3">
                <div class="card-header">
                    <div class="comment-info text-muted">
                        <strong class="">{{ comment.author }}</strong>
                        <span>TODO: Time Posted</span>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.comment }}</p>
                </div>
            </div>
        {% endfor %}
    </ul>
    
{% endblock %}
